#listCommandsComposer {
    width: 630px;
}

#listCommandsComposer .modal-header {
    background: rgb(221, 82, 70);
    border: 2px solid rgb(233, 89, 77);
    border-bottom: 1px solid #000;
}

#listCommandsComposer .modal-body {
    font-size: 14px;
    max-height: 400px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

#listCommandsComposer .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#listCommandsComposer .close:hover {
    -webkit-filter: drop-shadow(0 1px 0 #FFF) drop-shadow(0 -1px 0 #FFF) drop-shadow(1px 0 0 #FFF) drop-shadow(-1px 0 0 #FFF) drop-shadow(0 0 10px transparent);
}

.hero.is-link .tabs li.ui-tabs-active a {
    opacity: 1;
}

#listCommandsComposer a {
    border: none !important;
}
